<!DOCTYPE html>
<html lang="en">
<head>
    <title>IMG VIEWER</title>
</head>
<body>
<table>
    <tr>
        <!-- Sub-directories list --> 
        <td style="vertical-align: top;">
            <ul style="list-style-type:none;">
                {% for dir, dir_path in dirs %}
                <li><a href="/{{dir_path}}">{{dir}}</a></li>
                {% endfor %}
            </ul>
        </td>

        <!-- Image list --> 
        <td>
            <table>
                {% for img, img_path in imgs %}
                <tr>
                    <td style="vertical-align: top;">
                        {{img}}
                    </td>
                    <td>
                        <img src="/imgs/{{img_path}}"/>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>
</body>
</html>